bin/
obj/
/packages/
CS2M.ApiServer/**/bin/
CS2M.ApiServer/**/obj/
CS2M.ApiServer/**/TestResults/
CS2M.ApiServer/**/.vs/
riderModule.iml
/_ReSharper.Caches/
**/node_modules/
.envrc
.vs/
assemblies/*.dll

CS2M/Library
*.sln.DotSettings.user
*csproj.user
*.drawio.bkp

# ag2_go is an independent repository
ag2_go/
