@use "variables" as v;

@mixin borderAll($colour, $thickness, $important: false)
{
    @if ( $important == true)
    {        
        border: $thickness solid $colour !important;
    }
    @else
    {
        border: $thickness solid $colour;
    }
}

@mixin borderRadius($radius: v.$border-radius)
{
    border-radius: $radius;
}

@mixin paddingAll($padding-h, $padding-v)
{
    padding: $padding-v $padding-h;
}

@mixin formControl($bg-color: v.$input-background-colour)
{
    width: 100%;
    color: v.$input-colour;
    background-color: $bg-color;
    @include borderAll(v.$input-border-colour, v.$input-border-thickness);
    @include borderRadius(v.$input-border-radius);
    @include paddingAll(v.$input-padding-h, v.$input-padding-v);
    
    font-size: v.$font-size-lg;
    font-family: v.$font-family-sans-serif;
    white-space: nowrap;
    letter-spacing: normal;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-transform: none;
    
    // Transition
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out;
    
    &:hover
    {
        @include borderAll(v.$input-border-colour-hover, v.$input-border-thickness);
    }

    &:active, &:focus
    {
        @include borderAll(v.$input-border-colour-active, v.$input-border-thickness);
        outline: none; // Remove default browser outline
    }

    &.input-disabled
    {
        @include borderAll(v.$input-border-colour-disabled, v.$input-border-thickness);
        opacity: 0.35 !important;
        pointer-events: none !important;
    }
}